 .header {
    gap: 3rem;
    margin: 3rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    color: #635e57;
    font-size: 1.5rem;
  }
  
  .header h1 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .highlight {
    background: linear-gradient(90deg, #5366ac, #592c79);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
  }
  
   .cta a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #261e80, #6d4d87);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  } 
  .authPrompt {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #261e80, #6d4d87);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;

  }
  
  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #888;
  }




